<div class="h-screen flex justify-center items-center">
  <div class="w-1/4 flex">
    <input [(ngModel)]="user.username" nz-input placeholder="username" />
    <nz-divider nzType="vertical"></nz-divider>

    <input
      nz-input
      type="password"
      placeholder="Password"
      [(ngModel)]="user.password"
    />
    <nz-divider nzType="vertical"></nz-divider>

    <button nz-button nzType="primary" (click)="login()">Log in</button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" (click)="register()">register</button>
  </div>
</div>
