<div class="h-16 bg-gray-500 mb-4 flex items-center">
  <a
    routerLink="/car-showroom-management"
    *ngIf="router.url.includes('/car-showroom-details')"
  >
    <i
      class="fa fa-arrow-left text-white hover:text-blue-400"
      style="font-size: 40px"
    ></i>
  </a>
  <button
    nz-button
    nzType="primary"
    [nzSize]="'large'"
    (click)="logout()"
    class="absolute right-2 bg-red-500 hover:bg-red-400 focus:bg-red-500"
    *ngIf="router.url !== '/login'"
  >
    Logout
  </button>
</div>
<router-outlet></router-outlet>
